<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.traffic.mapper.AppVersionMapper" >
  <resultMap id="BaseResultMap" type="com.traffic.vo.AppVersion" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="version" property="version" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, version, url, create_time,type,remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_app_version
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_app_version
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.traffic.vo.AppVersion" >
    insert into t_app_version ( version, url, 
      create_time,type,remark)
    values ( #{version,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP},#{type},#{remark})
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.traffic.vo.AppVersion" >
    update t_app_version
    <set >
      <if test="version != null" >
        version = #{version,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=TIMESTAMP}
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectList" resultMap="BaseResultMap" parameterType="appVersion">
  	 select 
    <include refid="Base_Column_List" />
    from t_app_version
    <where>
    	<if test="type!=null">
    		type=#{type}
    	</if>
    </where>
   	order by create_time desc
  </select>
  
  <select id="selectNew" resultType="com.traffic.vo.AppVersion" parameterType="appVersion">
  	 select 
    <include refid="Base_Column_List" />
    from t_app_version
    <where>
    	<if test="type!=null">
    		type=#{type}
    	</if>
    </where>
   	order by  create_time desc LIMIT 0,1
  </select>
</mapper>