<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.traffic.mapper.SysConfigMapper" >
  <resultMap id="BaseResultMap" type="com.traffic.vo.SysConfig" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="k" property="k" jdbcType="VARCHAR" />
    <result column="v" property="v" jdbcType="VARCHAR" />
    <result column="intro" property="intro" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, k, v, intro
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_sys_config
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="getList" resultMap="BaseResultMap">
  	 select 
    <include refid="Base_Column_List" />
    from t_sys_config
  </select>
  <select id="selectByKey" resultMap="BaseResultMap" parameterType="java.lang.String">
  	select
  	<include refid="Base_Column_List" />
  	from t_sys_config 
  	where k = #{k}
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.traffic.vo.SysConfig" >
    update t_sys_config
    <set >
      <if test="k != null" >
        k = #{k,jdbcType=VARCHAR},
      </if>
      <if test="v != null" >
        v = #{v,jdbcType=VARCHAR},
      </if>
      <if test="intro != null" >
        intro = #{intro,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>